/*The Block, Element, Modifier methodology (commonly referred to as BEM)
is a popular naming convention for classes in HTML and CSS.
Developed by the team at Yandex,
its goal is to help developers better
understand the relationship between the HTML and CSS in a given project.*/


@import url('https://fonts.googleapis.com/css?family=Mali');
@import 'reset';


$mali-font: 'Mali', cursive; //variables should be kebab case in BEM

%heading-links{ //this element will be extended by children in heading
  text-align: center;
  font-family: $mali-font;
  font-size: 1rem;
}

.heading{

 .heading__

}
