
*
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; //default size is 16px
  padding: 5px;
}

body{
   line-height: 1.7;
   padding: 3rem;
   box-sizing: border-box;
}
