
*
*::after,
*::before{
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; //default size is 16px
  padding: 0;
}

body{
   line-height: 1.7;
   box-sizing: border-box;
   padding: 15px !important;
   background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX17927574.jpg');
}
