// 'https://assets.taskrabbit.com/v3/assets/static/heros/homepage/hero-v2-b4c1033eac5b640d40b824503e42aff0.jpg';

.landing-container{
  .landing-container__Heading{
    text-align: center;
    margin-bottom: 10%;
    position: absolute;
    top: 20%;
    width: 100%;
  }
}
