.user-profile-container{
    margin-top: 5%;
  .user-profile{
    margin-left: 5%;
    img{
      height: 35vh;
    }
  }

  .user-recent-job-container{
    background-color: aliceblue;
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    float: right;
    top: 0;
    align-items: center;
    right: 0;
    position: absolute;
    top: 16%;
    justify-content: center;
}
}
