$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

  .landing{

      .hero-image {
          position: relative;

          img{
            width: 100%;
            border: .3px solid;
            background-color: $color-primary-dark;
           }

          &--title{
            position: absolute;
            top: 0;
            text-align: center;
            transform: translateY(10rem);
            font-size: 4rem;
            width: 100%;
            font-family: 'Playfair Display', serif;
            animation: fadein 1s ease-in;
          }

       }

       &__login-form{
         height: 15vh;
         background-color: $color-primary-dark;
         align-items: center;
         justify-content: space-evenly;
         display: flex;
         flex-direction: column;
         font-family: 'Playfair Display', serif;
         border-top: 1.5px solid;
         margin-bottom: 5px;

         &--title{
          font-size: 1.3rem;
          text-decoration: underline;
         }

         form{
           width: 100%;
           display: flex;
           justify-content: space-evenly;
         }
       }

       &__sign-up-button{
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      input:nth-child(3){ //submit button
        @extend .btn--small;
      }

      &__popular-tasks{
        display: flex;
        justify-content: space-evenly;
        background-color: $color-primary-dark;
        align-items: center;
        border-top: 1px solid;
        img{
          max-height: 200px;
          max-width: 200px;
          object-fit: cover;
        }

        &--title{
          text-align: center;
        }

        .icon{
          &:hover{
            transform: translateY(-2px);
            border: none;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }

     &__popular-tasks-title{
        background-color: #7ed56f;
        margin-top: 50px !important;
        line-height: 50px;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
     }

   }
