$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

  .landing{

      .hero-image {
          position: relative;

          img{
            width: 100%;
            border: .3px solid;
            background-color: $color-primary-dark;
           }

          &--title{
            position: absolute;
            top: 50%;
            text-align: center;
            font-size: 4rem;
            width: 100%;
            font-family: 'Playfair Display', serif;
            animation: fadein 1s ease-in;
            font-variant-caps: petite-caps;

          }

       }

       &__login-form{
         height: 15vh;
         background-color: $color-primary-dark;
         align-items: center;
         justify-content: space-evenly;
         display: flex;
         flex-direction: column;
         font-family: 'Playfair Display', serif;
         border-top: 1.5px solid;
         margin-bottom: 5px;

         &--title{
          font-size: 1.3rem;
          text-decoration: underline;
         }

         form{
           width: 100%;
           display: flex;
           justify-content: space-evenly;
         }
       }

       &__sign-up-button{
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      input:nth-child(3){ //submit button
        @extend .btn--small;
      }

      &__popular-tasks{
        display: flex;
        justify-content: space-evenly;
        background-color: $color-primary-dark;
        align-items: center;
        border-top: 1px solid;
        img{
          max-height: 200px;
          max-width: 200px;
          object-fit: cover;
        }

        &--title{
          text-align: center;
        }

        .icon{
          &:hover{
            transform: translateY(-2px);
            border: none;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }

     &__popular-tasks-title{
        margin-top: 50px !important;
        line-height: 50px;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
     }

//#################HOW IT WORKS SECTION#####################


     &__how-it-works{

       height: 100vh;
       margin-top: 60px;
       display: flex;

       .step{

        width: 50%;
        .step-description{
           height: 33vh;
           width: 100%;

           .number-container{
             .number{
                border: 1px solid;
                border-radius: 50%;
                display: inline-block;
                width: 50px;
                height: 50px;
                text-align: center;
                font-size: 2rem;
                background-color: #7ed56f;
                color: white;
             }
           }
              //Numbers by tag attribute
           div[tag="two"]{
            display: flex;
            justify-content: center;
           }

           div[tag="three"]{
            display: flex;
            justify-content: flex-end;
           }

           .title{
             text-align: center;
             font-size: 2rem;
             font-family: 'Playfair Display', serif;
             text-decoration: underline;
           }

           .description{
             background-color: aquamarine;
             height: 20vh;
             text-align: center;
             font-size: 1.5rem;
           }
       }
   }

   .image{
      width: 50%;
      margin: 0;

     .image-container{
        height: 33vh;

        img{
          max-width: 100%;
          max-height: 100%;
        }
     }
   }
  }

//#################REAL PEOPLE REAL TASKS SECTION#####################

  &__real-people-real-tasks{
    height: 100vh;
    margin-top: 60px;
    display: flex;
    flex-direction: row;


    &--testimony-right{
      height: 100%;
      width: 100%;

      .testimony{
        height: 50%;
        width: 100%;

        img{
          width: 115px;
          height: 115px;
          max-height: 115px;
          max-width: 115px;
          border-radius: 50%;
        }

        &__description{
          font-size: 2rem;
          font-family: 'Playfair Display', serif;

          .description{
            font-size: 2rem;
            border: .5px solid grey;
          }

          .name{
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }

    &--testimony-left{
      height: 100%;
      width: 100%;

      .testimony{
        height: 50%;
        width: 100%;

        img{
          width: 115px;
          height: 115px;
          max-height: 115px;
          max-width: 115px;
          border-radius: 50%;
        }

        &__description{
          font-size: 2rem;
          font-family: 'Playfair Display', serif;

          .description{
            border: .5px solid grey;
          }

          .name{
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}
