
.messaging-container{

    h1{
      text-align: center;
      font-size: 3rem;
      margin-bottom: 40px;
      text-decoration: underline;
      font-variant-caps: petite-caps;
      position: absolute;
      top: 200px;
      width: 100%;
      left: 0;
    }


    &--message-deleted{
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      margin-top: 300px;
    }
}

.messaging-inbox{
  max-width: 70%;
  min-width: 70%;
  margin: 0 auto;
  top: 400px;
  margin-top: 300px;
  height: 200vh;


  div{
    display: flex;
    justify-content: space-between;
  }

  #messages{
    margin-bottom: 40px;
    padding: 10px;
  }

  div{
    .delete-icon{

      &:hover{
        cursor: pointer;
      }
    }
  }
}
